<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Intersection Observer API

        link(rel="stylesheet", href="style.scss")
        script(src="script.js", defer)
    body
    
    section.header
        h1 Scroll to see animation.
        img(src="show.svg", alt="show more")

    section.content
        .left
            img.dog.fadeIn#dog(src="https://images.dog.ceo/breeds/retriever-flatcoated/n02099267_3611.jpg", alt="dog image", data-delay="0s")
            p.fadeIn(data-delay=".5s") Aren't Dogs the best?
            img.squig.fadeIn(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/squiggly.svg", alt="squiggly image", data-delay=".7s")

        .right
            div.fadeIn(data-delay="1s")
                h2 Get a dog
                p
                    | One reason why dogs are popular is that they train easier compared to cats.
                    | Dogs can be taught tricks, manners, behaviors, and commands, and they're the best!
